

    <!-- Bootstrap Core CSS -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




        <!-- Navigation -->
     
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-futbol-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @camps.count %></div>
                                    <div>Camps in Progress</div>
                                </div>
                            </div>
                        </div>
                        <a href="/camps">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <%= image_tag 'bike.png', width:"65px"%>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @requests.count %></div>
                                    <div>Requests</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-dropbox fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @fulfillments.count %></div>
                                    <div>Fulfillments</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Annual Equipment Requests
                            <!-- <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-futbol-o fa-fw"></i> EQ Request
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> Warning
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Camp Started
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Camp Finished
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Pay Day
                                    <span class="pull-right text-muted small"><em>12:00 AM</em>
                                    </span>
                                </a>
                                <!-- <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a> -->
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                        </div>
                        <div class="panel-body">
                            
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div> -->
                        <!-- /.panel-body -->
                    <!-- </div> -->
                    <!-- /.panel -->
                      <div id="morris-donut-chart"></div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    <!-- /#wrapper -->

    <!-- jQuery -->

    

</body>

</html>
<script>
$(function() {

    Morris.Area({
        element: 'morris-area-chart',
        data: [{
            period: '2010 Q1',
            male: 100,
            female: 50,
            total: 150
        }, {
            period: '2010 Q2',
            male: 114,
            female: 60,
            total: 170
        }, {
            period: '2010 Q3',
            male: 120,
            female: 78,
            total: 198
        }, {
            period: '2010 Q4',
            male: 128,
            female: 85,
            total: 233
        }, {
            period: '2011 Q1',
            male: 139,
            female: 101,
            total: 240
        }, {
            period: '2011 Q2',
            male: 152,
            female: 110,
            total: 262
        }, {
            period: '2011 Q3',
            male: 174,
            female: 143,
            total: 317
        }, {
            period: '2011 Q4',
            male: 189,
            female: 172,
            total: 361
        }, {
            period: '2012 Q1',
            male: 240,
            female: 190,
            total: 430
        }, {
            period: '2012 Q2',
            male: 246,
            female: 211,
            total: 457
        }],
        xkey: 'period',
        ykeys: ['male', 'female', 'total'],
        labels: ['Male', 'Female', 'Total'],
        pointSize: 2,
        hideHover: 'auto',
        resize: true, 
        lineColors: ['#337ab7', '#5cb85c', '#d9534f']
    });

    // Morris.Donut({
//         element: 'morris-donut-chart',
//         data: [{
//             label: "Download Sales",
//             value: 12
//         }, {
//             label: "In-Store Sales",
//             value: 30
//         }, {
//             label: "Mail-Order Sales",
//             value: 20
//         }],
//         resize: true
//     });

    // Morris.Bar({
 //        element: 'morris-bar-chart',
 //        data: [{
 //            y: '2006',
 //            a: 100,
 //            b: 90
 //        }, {
 //            y: '2007',
 //            a: 75,
 //            b: 65
 //        }, {
 //            y: '2008',
 //            a: 50,
 //            b: 40
 //        }, {
 //            y: '2009',
 //            a: 75,
 //            b: 65
 //        }, {
 //            y: '2010',
 //            a: 50,
 //            b: 40
 //        }, {
 //            y: '2011',
 //            a: 75,
 //            b: 65
 //        }, {
 //            y: '2012',
 //            a: 100,
 //            b: 90
 //        }],
 //        xkey: 'y',
 //        ykeys: ['a', 'b'],
 //        labels: ['Series A', 'Series B'],
 //        hideHover: 'auto',
 //        resize: true
 //    });

});

</script>