// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#request_form {
  position:absolute;
  top:150px;
  left:40%;
  background-color:rgba(256,256,256,.5);
  padding:20px;
  text-align:center; 
}